.blacknav {
  height: 70px;
  background-color: black;
  position: relative;
}
.blacknav .currency {
  margin-left: 130px;
  margin-top: 12px;
  font-size: 14px;
  color: black;
  position: absolute;
}
.blacknav .currency a {
  background-color: black;
  border: 1px solid black;
  color: #c3c3c3;
}
.blacknav .language {
  margin-left: 240px;
  margin-top: 12px;
  position: absolute;
}
.blacknav .language button {
  background-color: black;
  border: 1px solid black;
  color: #c3c3c3;
}
.blacknav .language button img {
  width: 18px;
  height: 14px;
}
.blacknav .language .flags-list img {
  width: 18px;
  height: 14px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
.blacknav .language .flags-list a {
  margin-left: 20px;
}

.blacknav2 {
  position: relative;
  height: 70px;
  font-weight: 500;
  background-color: black;
  display: flex;
}
.blacknav2 .wishlist {
  margin-top: 20px;
}
.blacknav2 .wishlist ul {
  list-style: none;
}
.blacknav2 .wishlist a {
  text-decoration: none;
  margin-left: 250px;
  font-size: 15px;
  color: #c3c3c3;
}
.blacknav2 .compare {
  margin-top: 20px;
}
.blacknav2 .compare ul {
  list-style: none;
}
.blacknav2 .compare a {
  text-decoration: none;
  font-size: 15px;
  color: #c3c3c3;
}
.blacknav2 .myaccount {
  margin-top: 20px;
}
.blacknav2 .myaccount ul {
  list-style: none;
}
.blacknav2 .myaccount a {
  text-decoration: none;
  font-size: 15px;
  color: #c3c3c3;
}

.orangenav {
  height: 100px;
  background-color: #FA6C00;
  position: relative;
}
.orangenav img {
  margin-left: 140px;
  margin-top: 30px;
}
.orangenav .input-search {
  text-align: center;
  margin-top: -40px;
  margin-left: 350px;
}
.orangenav .input-search input {
  border-radius: 3px;
  width: 600px;
  height: 40px;
  border: 1px solid white;
}
.orangenav .input-search button {
  width: 120px;
  height: 40px;
  margin-left: -120px;
  border-radius: 3px;
  background-color: black;
  color: white;
  position: absolute;
}

.orangenav2 {
  height: 100px;
  background-color: #FA6C00;
}
.orangenav2 .icon {
  margin-left: 25px;
  font-size: 30px;
  margin-top: 20px;
  color: white;
}
.orangenav2 .call {
  color: white;
  margin-left: 70px;
  margin-top: -45px;
  font-weight: 500;
}
.orangenav2 .call .p1 {
  margin-top: -20px;
  font-size: 20px;
}

.orangenav3 {
  position: relative;
  height: 100px;
  background-color: #FA6C00;
}
.orangenav3 button {
  background-color: #FA6C00;
  border: 1px solid #FA6C00;
}
.orangenav3 .icon a {
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 20px;
  color: white;
}
.orangenav3 .span1 {
  position: absolute;
  top: -5px;
  background: #222;
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  font-size: 12px;
}
.orangenav3 .span2 {
  position: absolute;
  font-size: 17px;
  margin-left: 28px;
  margin-top: -22px;
}

.navbar {
  height: 70px;
  background-color: rgb(237, 236, 236);
  color: red;
}
.navbar .selections {
  margin-top: -5px;
}
.navbar .home {
  margin-left: 120px;
  font-size: 18px;
  font-weight: 600;
}
.navbar .pages {
  font-size: 18px;
  margin-left: 50px;
  font-weight: 600;
}
.navbar .contact {
  margin-left: 50px;
  font-size: 18px;
  font-weight: 600;
}
.navbar .about {
  margin-left: 50px;
  font-size: 18px;
  font-weight: 600;
}

.about-us h4 {
  position: absolute;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  margin-top: 20px;
}
.about-us ul {
  list-style: none;
}
.about-us a {
  text-decoration: none;
  float: right;
  margin-top: 15px;
  margin-right: 100px;
  margin-left: -125px;
  color: black;
  font-weight: 500;
}
.about-us p {
  float: right;
  font-weight: 500;
}

.right-info-panel {
  margin-top: 50px;
  width: 100%;
  height: 600px;
}

.left-info-panel {
  margin-top: 50px;
  width: 100%;
  height: 600px;
}
.left-info-panel p {
  line-height: 26px;
  margin-top: 20px;
}
.left-info-panel .accordion-header button {
  font-weight: 700;
}

.our-great-services {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  background-color: #e4e4e4;
}
.our-great-services h1 {
  text-align: center;
}
.our-great-services .lorem1 {
  text-align: center;
  margin-top: 20px;
}
.our-great-services .cols {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.our-great-services .pure-quality {
  width: 100%;
  height: 220px;
  background-color: white;
}
.our-great-services .pure-quality i {
  color: #FA6C00;
  font-size: 55px;
  margin-top: 50px;
  margin-left: 20px;
}
.our-great-services .pure-quality h4 {
  margin-left: 20px;
}
.our-great-services .pure-quality p {
  margin-left: 20px;
}
.our-great-services .free-service {
  width: 100%;
  height: 220px;
  background-color: white;
}
.our-great-services .free-service i {
  color: #FA6C00;
  font-size: 55px;
  margin-top: 50px;
  margin-left: 20px;
}
.our-great-services .free-service h4 {
  margin-left: 20px;
}
.our-great-services .free-service p {
  margin-left: 20px;
}
.our-great-services .home-delivery {
  width: 100%;
  height: 220px;
  background-color: white;
}
.our-great-services .home-delivery i {
  color: #FA6C00;
  font-size: 55px;
  margin-top: 50px;
  margin-left: 20px;
}
.our-great-services .home-delivery h4 {
  margin-left: 20px;
}
.our-great-services .home-delivery p {
  margin-left: 20px;
}

.our-experts h1 {
  text-align: center;
}
.our-experts .loremm2 {
  text-align: center;
  width: 520px;
  margin-left: 380px;
}
.our-experts .cards {
  display: flex;
  gap: 10px;
}
.our-experts .cards .cart1 {
  width: 320px;
  height: 470px;
}
.our-experts .cards .cart1:hover img {
  opacity: 0.5;
}
.our-experts .cards .cart1:hover .petersimons1 {
  background-color: #222;
}
.our-experts .cards .cart1:hover h5 {
  color: white;
}
.our-experts .cards .cart1:hover p {
  color: white;
}
.our-experts .cards .cart1 .text-box img {
  width: 100%;
  height: 400px;
}
.our-experts .cards .cart1 .petersimons1 {
  width: 100%;
  height: 70px;
}
.our-experts .cards .cart1 .petersimons1 h5 {
  text-align: center;
}
.our-experts .cards .cart1 .petersimons1 p {
  text-align: center;
}
.our-experts .cards .cart2 {
  width: 320px;
  height: 450px;
}
.our-experts .cards .cart2:hover img {
  opacity: 0.5;
}
.our-experts .cards .cart2:hover .petersimons2 {
  background-color: #222;
}
.our-experts .cards .cart2:hover h5 {
  color: white;
}
.our-experts .cards .cart2:hover p {
  color: white;
}
.our-experts .cards .cart2 .text-box img {
  width: 100%;
  height: 400px;
}
.our-experts .cards .cart2 .petersimons2 {
  width: 100%;
  height: 70px;
}
.our-experts .cards .cart2 .petersimons2 h5 {
  text-align: center;
}
.our-experts .cards .cart2 .petersimons2 p {
  text-align: center;
}
.our-experts .cards .cart3 {
  width: 320px;
  height: 450px;
}
.our-experts .cards .cart3:hover img {
  opacity: 0.5;
}
.our-experts .cards .cart3:hover .petersimons3 {
  background-color: #222;
}
.our-experts .cards .cart3:hover h5 {
  color: white;
}
.our-experts .cards .cart3:hover p {
  color: white;
}
.our-experts .cards .cart3 .text-box img {
  width: 100%;
  height: 400px;
}
.our-experts .cards .cart3 .petersimons3 {
  width: 100%;
  height: 70px;
}
.our-experts .cards .cart3 .petersimons3 h5 {
  text-align: center;
}
.our-experts .cards .cart3 .petersimons3 p {
  text-align: center;
}
.our-experts .cards .cart4 {
  width: 320px;
  height: 450px;
}
.our-experts .cards .cart4:hover img {
  opacity: 0.5;
}
.our-experts .cards .cart4:hover .petersimons4 {
  background-color: #222;
}
.our-experts .cards .cart4:hover h5 {
  color: white;
}
.our-experts .cards .cart4:hover p {
  color: white;
}
.our-experts .cards .cart4 .text-box img {
  width: 100%;
  height: 400px;
}
.our-experts .cards .cart4 .petersimons4 {
  width: 100%;
  height: 70px;
}
.our-experts .cards .cart4 .petersimons4 h5 {
  text-align: center;
}
.our-experts .cards .cart4 .petersimons4 p {
  text-align: center;
}

.footer {
  width: 100%;
  height: 350px;
  background-color: rgb(233, 233, 233);
  margin-top: 50px;
}
.footer .footer1 {
  width: 275px;
  height: 260px;
}
.footer .footer1 img {
  margin-top: 50px;
}
.footer .footer1 p {
  margin-top: 10px;
}
.footer .footer2 {
  width: 100%;
  height: 260px;
  margin-top: 50px;
}
.footer .footer2 p {
  cursor: pointer;
}
.footer .footer3 {
  width: 100%;
  height: 260px;
  margin-top: 50px;
  margin-left: 20px;
}
.footer .footer3 input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
}
.footer .footer3 button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #FA6C00;
  color: white;
  border: none;
  font-weight: bold;
}
.footer .footer4 {
  width: 100%;
  height: 260px;
  margin-top: 50px;
  margin-left: 40px;
}
.footer .footer4 .location p {
  margin-left: 20px;
  margin-top: -25px;
}
.footer .footer4 .number p {
  margin-left: 20px;
  margin-top: -25px;
}
.footer .footer4 .message p {
  margin-left: 20px;
  margin-top: -25px;
}/*# sourceMappingURL=about.css.map */