.blacknav {
    height: 70px;
    background-color: black;
    position: relative;


    .currency {
        margin-left: 130px;
        margin-top: 12px;
        font-size: 14px;
        color: black;
        position: absolute;

        a {
            background-color: black;
            border: 1px solid black;
            color: #c3c3c3;
        }
    }


    .language {
        margin-left: 240px;
        margin-top: 12px;
        position: absolute;

       
        button {
            background-color: black;
            border: 1px solid black;
            color: #c3c3c3;
    
            img {
                width: 18px;
                height: 14px;
    
            }
    
        }

        .flags-list{
            img {
                width: 18px;
                height: 14px;
                position: absolute;
                margin-top: 10px;
                margin-left: 10px;
    
            }

            a{
                margin-left: 20px;
            }
        }
        
       
    }
}


.blacknav2 {
    position: relative;
    height: 70px;
    font-weight: 500;
    background-color: black;
    display: flex;



    .wishlist {
        margin-top: 20px;

        ul {
            list-style: none;
        }


        a {
            
            margin-left: 250px;
            font-size: 15px;
            color: #c3c3c3;
            text-decoration: none;
        }
    }

    .compare {
        margin-top: 20px;


        ul {
            list-style: none;
        }


        a {
           
            text-decoration: none;
            font-size: 15px;
            color: #c3c3c3;
        }
    }

    .myaccount {
        margin-top: 20px;

        ul {
            list-style: none;
        }

        

        a {
            
            text-decoration: none;
            font-size: 15px;
            color: #c3c3c3;
        }
    }
}


.orangenav {
    height: 100px;

    background-color: #FA6C00;

    position: relative;


    img {
        margin-left: 140px;
        margin-top: 30px;
    }

    .input-search {
        text-align: center;
        margin-top: -40px;
        margin-left: 350px;


        input {
            border-radius: 3px;
            width: 600px;
            height: 40px;
            border: 1px solid white;
        }

        button {
            width: 120px;
            height: 40px;
            margin-left: -120px;
            border-radius: 3px;
            background-color: black;
            color: white;

            position: absolute;
        }



    }
}


.orangenav2 {
    height: 100px;
    background-color: #FA6C00;

    .icon {
        margin-left: 25px;
        font-size: 30px;
        margin-top: 20px;
        color: white;

    }

    .call {
        color: white;
        margin-left: 70px;
        margin-top: -45px;
        font-weight: 500;

        .p1 {
            margin-top: -20px;
            font-size: 20px;

        }
    }



}

.orangenav3 {
    position: relative;
    height: 100px;
    background-color: #FA6C00;


    button {
        background-color: #FA6C00;
        border: 1px solid #FA6C00;
    }

    .icon {
        a {
            position: absolute;
            margin-left: 10px;
            margin-top: 20px;
            font-size: 20px;
            color: white;
        }
    }

    .span1 {
        position: absolute;

        top: -5px;
        background: #222;
        height: 18px;
        width: 18px;
        line-height: 18px;
        border-radius: 50%;
        font-size: 12px;
    }


    .span2 {
        position: absolute;
        font-size: 17px;
        margin-left: 28px;
        margin-top: -22px;
    }
}



.navbar {
    height: 70px;
    background-color: rgb(237, 236, 236);
    color: red;

    .selections{
        margin-top: -5px;
    }


    .home{
        margin-left: 120px;
        font-size: 18px;
        font-weight: 600;
    }
    

    .pages{
        font-size: 18px;
        margin-left: 50px;
        font-weight: 600;
    }
    

    .contact{
        margin-left: 50px;
        font-size: 18px;
        font-weight: 600;
    }

    .about{
        margin-left: 50px;
        font-size: 18px;
        font-weight: 600;
    }

    
    
}




.swiper-slide {
    position: relative;

    img {

        width: 100%;
        height: 600px;
    }

    h1 {
        margin-left: 100px;
        margin-top: -350px;
        font-size: 48px;
        text-align: left;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
    }

    h3 {
        margin-left: 102px;
        font-weight: 400;
    }

    button {
        width: 170px;
        height: 40px;
        margin-left: 102px;
        margin-top: 30px;
        background-color: #FA6C00;
        border: 1px solid #FA6C00;
        color: white;


        span {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }



    }
}

.slide {

    .massive {
        position: absolute;

    }
}


.container {
    display: flex;
    margin-top: 20px;
}


.bonus-plus {

    height: 120px;
    border: 1px solid rgb(220, 220, 220);


    i {
        font-size: 35px;
        color: #FA6C00;
        margin-top: 30px;
        margin-left: 20px;
    }

    p {
        margin-left: 70px;
        margin-top: -40px;
        font-weight: 600;
        margin-bottom: 0 !important
    }

    span {
        color: #777 !important;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        margin-left: 70px;
        top: -20px;
    }
}


.free-shipping {
    height: 120px;
    border: 1px solid rgb(239, 239, 239);

    i {
        font-size: 35px;
        color: #FA6C00;
        margin-top: 30px;
        margin-left: 25px;
    }

    p {
        margin-left: 78px;
        margin-top: -40px;
        font-weight: 600;
        margin-bottom: 0 !important
    }

    span {
        color: #777 !important;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        margin-left: 78px;
        top: -20px;
    }


}

.many-back-guarentee {
    height: 120px;
    border: 1px solid rgb(219, 219, 219);

    i {
        font-size: 35px;
        color: #FA6C00;
        margin-top: 30px;
        margin-left: 25px;
    }

    p {
        margin-left: 78px;
        margin-top: -40px;
        font-weight: 600;
        margin-bottom: 0 !important
    }

    span {
        color: #777 !important;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        margin-left: 78px;
    }
}

.online-support {
    height: 120px;
    border: 1px solid rgb(235, 235, 235);


    i {
        font-size: 35px;
        color: #FA6C00;
        margin-top: 30px;
        margin-left: 25px;
    }

    p {
        margin-left: 78px;
        margin-top: -40px;
        font-weight: 600;
        margin-bottom: 0 !important
    }

    span {
        color: #777 !important;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        margin-left: 78px;

    }
}



.tab-menu {
    margin-top: 80px;

    button {
        color: rgba(0, 0, 0, .87);
    }
}



.owl-carousel {

    .card1 {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;



        img {
            max-width: 180px;
            margin-bottom: 12px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }


        .headphones {
            margin-bottom: 4px;
            display: block;
            font-weight: 300;
            color: #a2a2a2;
        }


        i {
            color: #FA6C00;
        }


        p {
            font-size: 19px;
            margin-left: 170px;
            margin-top: -26px;
        }


        a {
            button {
                //   background-color: red;
                //   width: 100%;
                //   height: 50px;
                cursor: pointer;
                width: 100%;
                border-radius: 0;
                text-align: center;
                line-height: 39px;
                color: #fff;
                font-size: 14px;
                box-shadow: none !important;
                transition: .4s ease;
                border: 2px solid;
                background-color: #FA6C00;

                span {
                    cursor: pointer;
                    transition: .2s ease;
                    color: white;
                    font-size: 14px;
                    font-weight: 500;
                }

                .shopping {
                    cursor: pointer;
                    transition: .2s ease;
                    color: white;
                    margin-left: 5px;
                    margin-top: -4px;
                    font-size: 15px;
                    vertical-align: middle;
                }
            }

            button:hover {
                background-color: white;
                border: 2px solid #FA6C00;

                .shopping {
                    color: #FA6C00;
                }

                span {
                    color: #FA6C00;
                }

            }
        }
    }
}


.card2 {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;



    img {
        max-width: 180px;
        margin-bottom: 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .headphones {
        margin-bottom: 4px;
        display: block;
        font-weight: 300;
        color: #a2a2a2;
    }


    i {
        color: #FA6C00;
    }


    p {
        font-size: 19px;
        margin-left: 170px;
        margin-top: -26px;
    }


    a {
        button {
            //   background-color: red;
            //   width: 100%;
            //   height: 50px;
            cursor: pointer;
            width: 100%;
            border-radius: 0;
            text-align: center;
            line-height: 39px;
            color: #fff;
            font-size: 14px;
            box-shadow: none !important;
            transition: .4s ease;
            border: 2px solid;
            background-color: #FA6C00;

            span {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                font-size: 14px;
                font-weight: 500;
            }


            .shopping {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                margin-left: 5px;
                margin-top: -4px;
                font-size: 15px;
                vertical-align: middle;
            }
        }

        button:hover {
            background-color: white;
            border: 2px solid #FA6C00;

            .shopping {
                color: #FA6C00;
            }

            span {
                color: #FA6C00;
            }
        }


    }


}



.card3 {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;



    img {
        max-width: 180px;
        margin-bottom: 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .headphones {
        margin-bottom: 4px;
        display: block;
        font-weight: 300;
        color: #a2a2a2;
    }


    i {
        color: #FA6C00;
    }


    p {
        font-size: 19px;
        margin-left: 170px;
        margin-top: -26px;
    }


    a {
        button {
            //   background-color: red;
            //   width: 100%;
            //   height: 50px;
            cursor: pointer;
            width: 100%;
            border-radius: 0;
            text-align: center;
            line-height: 39px;
            color: #fff;
            font-size: 14px;
            box-shadow: none !important;
            transition: .4s ease;
            border: 2px solid;
            background-color: #FA6C00;

            span {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                font-size: 14px;
                font-weight: 500;
            }


            .shopping {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                margin-left: 5px;
                margin-top: -4px;
                font-size: 15px;
                vertical-align: middle;
            }








        }

        button:hover {
            background-color: white;
            border: 2px solid #FA6C00;

            .shopping {
                color: #FA6C00;
            }

            span {
                color: #FA6C00;
            }
        }


    }


}


.card4 {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;



    img {
        max-width: 180px;
        margin-bottom: 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .headphones {
        margin-bottom: 4px;
        display: block;
        font-weight: 300;
        color: #a2a2a2;
    }


    i {
        color: #FA6C00;
    }


    p {
        font-size: 19px;
        margin-left: 170px;
        margin-top: -26px;
    }


    a {
        button {
            //   background-color: red;
            //   width: 100%;
            //   height: 50px;
            cursor: pointer;
            width: 100%;
            border-radius: 0;
            text-align: center;
            line-height: 39px;
            color: #fff;
            font-size: 14px;
            box-shadow: none !important;
            transition: .4s ease;
            border: 2px solid;
            background-color: #FA6C00;

            span {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                font-size: 14px;
                font-weight: 500;
            }


            .shopping {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                margin-left: 5px;
                margin-top: -4px;
                font-size: 15px;
                vertical-align: middle;
            }








        }

        button:hover {
            background-color: white;
            border: 2px solid #FA6C00;

            .shopping {
                color: #FA6C00;
            }


            span {
                color: #FA6C00;
            }
        }


    }
}


.card5 {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;



    img {
        max-width: 180px;
        margin-bottom: 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .headphones {
        margin-bottom: 4px;
        display: block;
        font-weight: 300;
        color: #a2a2a2;
    }


    i {
        color: #FA6C00;
    }


    p {
        font-size: 19px;
        margin-left: 170px;
        margin-top: -26px;
    }


    a {
        button {
            //   background-color: red;
            //   width: 100%;
            //   height: 50px;
            cursor: pointer;
            width: 100%;
            border-radius: 0;
            text-align: center;
            line-height: 39px;
            color: #fff;
            font-size: 14px;
            box-shadow: none !important;
            transition: .4s ease;
            border: 2px solid;
            background-color: #FA6C00;

            span {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                font-size: 14px;
                font-weight: 500;
            }


            .shopping {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                margin-left: 5px;
                margin-top: -4px;
                font-size: 15px;
                vertical-align: middle;
            }








        }

        button:hover {
            background-color: white;
            border: 2px solid #FA6C00;

            .shopping {
                color: #FA6C00;
            }

            span {
                color: #FA6C00;
            }
        }


    }
}


.card6 {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;



    img {
        max-width: 180px;
        margin-bottom: 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .headphones {
        margin-bottom: 4px;
        display: block;
        font-weight: 300;
        color: #a2a2a2;
    }


    i {
        color: #FA6C00;
    }


    p {
        font-size: 19px;
        margin-left: 170px;
        margin-top: -26px;
    }


    a {
        button {
            //   background-color: red;
            //   width: 100%;
            //   height: 50px;
            cursor: pointer;
            width: 100%;
            border-radius: 0;
            text-align: center;
            line-height: 39px;
            color: #fff;
            font-size: 14px;
            box-shadow: none !important;
            transition: .4s ease;
            border: 2px solid;
            background-color: #FA6C00;

            span {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                font-size: 14px;
                font-weight: 500;
            }


            .shopping {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                margin-left: 5px;
                margin-top: -4px;
                font-size: 15px;
                vertical-align: middle;
            }








        }

        button:hover {
            background-color: white;
            border: 2px solid #FA6C00;

            .shopping {
                color: #FA6C00;
            }

            span {
                color: #FA6C00;
            }
        }
    }
}


.card7 {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;



    img {
        max-width: 180px;
        margin-bottom: 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .headphones {
        margin-bottom: 4px;
        display: block;
        font-weight: 300;
        color: #a2a2a2;
    }


    i {
        color: #FA6C00;
    }


    p {
        font-size: 19px;
        margin-left: 170px;
        margin-top: -26px;
    }


    a {
        button {
            //   background-color: red;
            //   width: 100%;
            //   height: 50px;
            cursor: pointer;
            width: 100%;
            border-radius: 0;
            text-align: center;
            line-height: 39px;
            color: #fff;
            font-size: 14px;
            box-shadow: none !important;
            transition: .4s ease;
            border: 2px solid;
            background-color: #FA6C00;

            span {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                font-size: 14px;
                font-weight: 500;
            }


            .shopping {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                margin-left: 5px;
                margin-top: -4px;
                font-size: 15px;
                vertical-align: middle;
            }








        }

        button:hover {
            background-color: white;
            border: 2px solid #FA6C00;

            .shopping {
                color: #FA6C00;
            }


            span {
                color: #FA6C00;
            }
        }


    }
}


.card8 {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    img {
        max-width: 180px;
        margin-bottom: 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .headphones {
        margin-bottom: 4px;
        display: block;
        font-weight: 300;
        color: #a2a2a2;
    }


    i {
        color: #FA6C00;
    }


    p {
        font-size: 19px;
        margin-left: 170px;
        margin-top: -26px;
    }


    a {
        button {
            //   background-color: red;
            //   width: 100%;
            //   height: 50px;
            cursor: pointer;
            width: 100%;
            border-radius: 0;
            text-align: center;
            line-height: 39px;
            color: #fff;
            font-size: 14px;
            box-shadow: none !important;
            transition: .4s ease;
            border: 2px solid;
            background-color: #FA6C00;

            span {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                font-size: 14px;
                font-weight: 500;
            }


            .shopping {
                cursor: pointer;
                transition: .2s ease;
                color: white;
                margin-left: 5px;
                margin-top: -4px;
                font-size: 15px;
                vertical-align: middle;
            }








        }

        button:hover {
            background-color: white;
            border: 2px solid #FA6C00;

            .shopping {
                color: #FA6C00;
            }


            span {
                color: #FA6C00;
            }
        }


    }


}



#discounts {


    .products1 {
        margin-top: 50px;
        height: 500px;
        width: 650px;
        background-color: rgb(233, 233, 233);


        img {
            position: absolute;
            margin-left: 140px;
            margin-top: -30px;

        }



        .text {
            margin-top: 30px;
            margin-left: 30px;


            h4 {
                font-weight: 500;
            }


            a {
                text-decoration: none;
                color: black;
                font-weight: 500;
            }
        }
    }

    .products2 {
        margin-top: 50px;
        width: 310px;
        height: 180px;
        background-color: rgb(233, 233, 233);
        margin-left: 10px;


        img {
            width: 310px;
            height: 180px;
        }

        h4 {
            font-size: 21px;
            font-weight: 600;
            color: #2d2a25;
            font-weight: 700;
        }

        .text-box {
            width: 120px;
            height: 50px;
            margin-top: -161px;
            margin-left: 20px;

            a {
                text-decoration: none;
                color: black;
                font-weight: 700;
            }
        }
    }


    .products3 {
        margin-top: 50px;
        width: 310px;
        height: 180px;
        background-color: rgb(233, 233, 233);
        margin-left: 10px;


        img {
            width: 310px;
            height: 180px;
        }


        h4 {
            font-size: 21px;
            font-weight: 600;
            color: #2d2a25;
            font-weight: 700;
        }

        .text-box2 {
            width: 140px;
            height: 50px;
            margin-top: -161px;
            margin-left: 20px;

            a {
                text-decoration: none;
                color: black;
                font-weight: 700;
            }
        }
    }


    .products4 {
        margin-top: -300px;
        margin-right: -6px;
        width: 640px;
        height: 302px;
        background-color: rgb(233, 233, 233);
        float: right;


        img {
            width: 640px;
            height: 302px;
        }

        .text-box3 {
            width: 227px;
            margin-top: -260px;
            margin-left: 20px;


            h1 {
                font-size: 37px;
                font-weight: 500;
            }



            a {
                button {
                    width: 135px;
                    height: 55px;
                    border-radius: 5px;
                    background-color: #FA6C00;
                    border: 1px solid #FA6C00;
                    font-size: 25px;
                    font-weight: 600;
                }
            }
        }
    }
}







.featured-products {
    position: relative;
    width: 300px;
    height: 400px;




    h4 {
        margin-top: 50px;
        font-size: 21px;
        font-weight: 500;
    }
}





.ontec {
    width: 80px;
    height: 80px;
    margin-top: 37px;
    background-color: rgb(233, 233, 233);

    ul {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    img {
        width: 80px;
        height: 80px;
        margin-left: -32px;
    }
}

.media-body {
    position: relative;


    a {
        text-decoration: none;
    }

    span {
        position: absolute;
        margin-left: 87px;
        margin-top: -22px;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }

    .stars {
        color: #FA6C00;
        margin-left: 87px;
        margin-top: -56px;
        width: 115px;
    }

    p {
        margin-top: 5px;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }
}

.solo {
    margin-top: 40px;
    width: 80px;
    height: 80px;
    background-color: rgb(233, 233, 233);


    ul {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    img {
        width: 80px;
        height: 80px;
        margin-left: -30px;
    }
}

.media-body2 {
    position: relative;


    a {
        text-decoration: none;
    }

    span {
        position: absolute;
        margin-left: 87px;
        margin-top: -22px;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }

    .stars {
        color: #FA6C00;
        margin-left: 87px;
        margin-top: -56px;
        width: 115px;
    }

    p {
        margin-top: 5px;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }
}

.ultra {
    margin-top: 40px;
    width: 80px;
    height: 80px;
    background-color: rgb(233, 233, 233);


    ul {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    img {
        width: 80px;
        height: 80px;
        margin-left: -30px;
    }
}

.media-body3 {
    position: relative;


    a {
        text-decoration: none;
    }

    span {
        position: absolute;
        margin-left: 87px;
        margin-top: -22px;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }

    .stars {
        color: #FA6C00;
        margin-left: 87px;
        margin-top: -56px;
        width: 115px;
    }

    p {
        margin-top: 5px;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }
}



.top-selling-products {
    position: relative;
    width: 300px;
    height: 400px;
    margin-left: 160px;

    h4 {
        margin-top: 50px;
        font-size: 21px;
        font-weight: 500;
    }
}

.tablet {
    width: 80px;
    height: 80px;
    margin-top: 37px;
    background-color: rgb(233, 233, 233);

    ul {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    img {
        width: 80px;
        height: 80px;
        margin-left: -30px;
    }

}

.media-body4 {
    position: relative;


    a {
        text-decoration: none;
    }

    span {
        position: absolute;
        margin-left: 87px;
        margin-top: -22px;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }

    .stars {
        color: #FA6C00;
        margin-left: 87px;
        margin-top: -56px;
        width: 115px;
    }

    p {
        margin-top: 5px;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }
}





.ellite-pro {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    background-color: rgb(233, 233, 233);

    ul {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    img {
        width: 80px;
        height: 80px;
        margin-left: -30px;
    }

}

.media-body5 {
    position: relative;


    a {
        text-decoration: none;
    }

    span {
        position: absolute;
        margin-left: 87px;
        margin-top: -22px;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }

    .stars {
        color: #FA6C00;
        margin-left: 87px;
        margin-top: -56px;
        width: 115px;
    }

    p {
        margin-top: 5px;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }
}



.tablet-extra-light {
    margin-top: 40px;
    width: 80px;
    height: 80px;
    background-color: rgb(233, 233, 233);

    ul {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    img {
        width: 80px;
        height: 80px;
        margin-left: -32px;
    }

}

.media-body6 {
    position: relative;


    a {
        text-decoration: none;
    }

    span {
        position: absolute;
        margin-left: 87px;
        margin-top: -22px;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }

    .stars {
        color: #FA6C00;
        margin-left: 87px;
        margin-top: -56px;
        width: 115px;
    }

    p {
        position: absolute;
        margin-top: 5px;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }
}



.hot-offer {
    position: relative;
    width: 300px;
    height: 400px;
    margin-left: 120px;



    h4 {
        margin-top: 50px;
        font-size: 21px;
        font-weight: 500;
    }
}

.tablet-vx4000 {
    width: 80px;
    height: 80px;
    margin-top: 37px;

    background-color: rgb(233, 233, 233);

    ul {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    img {
        width: 80px;
        height: 80px;
        margin-left: -32px;
    }
}


.media-body7 {
    position: relative;


    a {
        text-decoration: none;
    }

    span {
        position: absolute;
        margin-left: 87px;
        margin-top: -22px;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }

    .stars {
        color: #FA6C00;
        margin-left: 87px;
        margin-top: -56px;
        width: 115px;
    }

    p {
        position: absolute;
        margin-top: 5px;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }
}



.laptop-sens {
    width: 80px;
    height: 80px;
    margin-top: 60px;
    background-color: rgb(233, 233, 233);

    ul {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    img {
        width: 80px;
        height: 80px;
        margin-left: -32px;
    }
}


.media-body8 {
    position: relative;


    a {
        text-decoration: none;
    }

    span {
        position: absolute;
        margin-left: 87px;
        margin-top: -22px;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }

    .stars {
        color: #FA6C00;
        margin-left: 87px;
        margin-top: -56px;
        width: 115px;
    }

    p {
        position: absolute;
        margin-top: 5px;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }
}




.wifi-smart {
    width: 80px;
    height: 80px;
    margin-top: 60px;
    background-color: rgb(233, 233, 233);

    ul {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    img {
        width: 80px;
        height: 80px;
        margin-left: -32px;
    }
}


.media-body9 {
    position: relative;


    a {
        text-decoration: none;
    }

    span {
        position: absolute;
        margin-left: 87px;
        margin-top: -22px;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }

    .stars {
        color: #FA6C00;
        margin-left: 87px;
        margin-top: -56px;
        width: 115px;
    }

    p {
        position: absolute;
        margin-top: 5px;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 1;
        color: #333;
    }
}




.footer {
    width: 100%;
    height: 350px;
    background-color: rgb(233, 233, 233);



    .footer1 {
        width: 275px;
        height: 260px;


        img {
            margin-top: 50px;
        }

        p {
            margin-top: 10px;
        }
    }


    .footer2 {
        width: 100%;
        height: 260px;
        margin-top: 50px;
        p{
            cursor: pointer;
        }
    }


    .footer3{
        width: 100%;
        height: 260px;
        margin-top: 50px;
        margin-left: 20px;

        input{
            width: 100%;
            height: 50px;
            border-radius: 5px;
            border: none;
        }

        button{
            width: 100%;
            height: 50px;
            border-radius: 5px;
            margin-top: 20px;
            background-color: #FA6C00;
            color: white;
            border: none;
            font-weight: bold;
        }
    }




    .footer4{
        width: 100%;
        height: 260px;
        margin-top: 50px;
        margin-left: 40px;


        .location{
            p{
                margin-left: 20px;
                margin-top: -25px;
            }
        }
        .number{
            p{
                margin-left: 20px;
                margin-top: -25px;
            }
        }

        .message{
            p{
                margin-left: 20px;
                margin-top: -25px;
            }
        }
        
    }

}